.dropdown1 {
width:290px;
overflow-y: scroll;
height: 200px;
}
.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  height: 50%;
  width: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 50%;
  opacity: 0;
  transition: .5s ease;
  background-color: teal;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.btna {
  background-color: #ddd;
  border: none;
  color: black;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}

.btna:hover {
  background-color: #3e8e41;
  color: white;
}
.toggler1{
  background-color: black;
  color: white;
}
.center {
  margin: auto;
  padding: 10px;
    max-width: 90%;
  max-height: 90%;
}
.center1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.imgm{
  max-width: 90%;
  max-height: 90%;
}
.active1 {
  background-color:  teal;
}
.thumbnail{
  width:50px;
  height:50px;
}



.thumbnail:hover {
    position:relative;
    width:70px;
    height:auto;
    display:block;
    z-index:999;
}
.form{
      margin-right: 15px;
      margin-left:15px;
      margin-top:15px;
      padding: 5px;
      border-radius:10px solid black;
      width:400px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
@media (max-width: 767px) {
 
 .Rights{
  font-size: 12px;
  margin-top: 5px;
 }
 .fa-copyright{
  font-size: 12px;
 }
 .fa{
  margin: 3px;

 }


}
@media (min-width: 768px) and (max-width: 1023px)
{
  
   .cardimg{
        width:250px;
        height:250px;
      }
}
.footer{
        background-color: black;
         position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
      }
        .fcontactus{
        color: white;
      }
      .connect{
        color: white;
      }
      .footer1{
        background-color: black;
         position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
      }
      .flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #666;
  color: white;
  transform: rotateY(180deg);
  overflow: hidden;
}
.flip-card-back>p{
  
  margin:20%;


}
.card1{
        margin-bottom: 10px;
      }
      .cardimg{
        width:300px;
        height:300px;
      }
